.Header {
	position: fixed;
	padding: 6vh 0 0 10vh;
	width: 30%;
	height: 100vh;
	background-color: rgba(16, 40, 81, 0.9);
	transition: 300ms;
	z-index: 100;

	.logo {
		display: block;
		margin-bottom: 6vh;
		max-width: 14vh;
	}

	.search {
		display: block;
		margin-bottom: 2vh;
		margin-left: 8px;
		font-size: 2.1vh;
	}

    .menuToggle {
    	display: none;
    	position: absolute;
    	right: 10px;
    	top: 50%;
    	transform: translateY(-50%);
    	font-size: 20px;
		line-height: 1;
		z-index: 200;

		i {
			&:before {
				margin: 0;
			}
		}

		&:hover {
			color: #fff;
		}
    }

	.menu {
		ul {
			li {
				margin-bottom: 1vh;

				a {
					display: inline-block;
					vertical-align: middle;
					position: relative;
					font-size: 2vh;

					&:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						margin-right: 25px;
						margin-left: 15px;
						width: 8px;
						height: 8px;
						border: 1px solid #fff;
						border-radius: 50%;
					}

					&:hover {
						color: #fff;
						opacity: 0.6;
					}

					&._active {
						font-weight: 700;

						&:before {
							margin-right: 18px;
							margin-left: 0;
							width: 40px;
							height: 40px;
						}
					}
				}
			}
		}
	}

	.redes {
		margin: 3.3vh 0;

		li {
			display: inline-block;
			margin-right: 8px;

			a {
				display: block;
				position: relative;
				width: 32px;
				height: 32px;
				font-size: 16px !important;
				border-radius: 50%;

				&:before {
					display: none !important;
				}

				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					line-height: 1;

					&:before {
						margin: 0;
						width: auto;
					}
				}

				&:hover {
					opacity: 0.6;
				}
			}

			&:last-child {
				margin-right: 0;
			}			
		}
	}

	.endereco {
		margin: 0 0 2.3vh;
		font-size: 12px;
		line-height: 16px;
	}

	.buttons {
		.Button {
			display: block;
			margin: 0 0 2vh;
			width: 17vh;
			height: 4.3vh;
			font-size: 1.7vh;
			line-height: 4.1vh;

			&:last-child {
				margin: 0;
			}
		}
	}

	.menu-line {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 3px;
		height: 186px;
	}

	&._fixed {
		padding: 6vh 0 0 7.5vh;
		width: 25%;
	}
}

@include breakpoint(0, 1320px) {
	.Header {
		position: absolute;
		padding: 6vh 0 0 7vh;
		width: 32%;

		.buttons {
			.Button {
				width: 19vh;
			}
		}

		&._fixed {
			position: absolute;
			width: 32%;
		}
	}
}

@include breakpoint(0, $sm) {
	.Header {
		position: fixed;
	    top: 0;
		padding: 20px 10px;
	    height: auto;
	    width: 100%;

	    .logo {
	    	margin: 0;
	    	max-width: 100px;
	    }

	    .menu {
	    	display: none;
	    	position: fixed;
	    	top: 0;
	    	left: 0;
	    	padding: 80px 6% 0;
	    	width: 100%;
	    	height: 100%;
	    	background-color: #000;
	    }

	    .menuToggle {
	    	display: block;
	    }

	    .menu-line {
	    	display: none;
	    }

	    &._fixed {
	    	position: fixed;
	    	padding: 20px 10px;
	    	width: 100%;
	    }
	}
}