.Card {
	margin: 120px 0 0;
	padding: 80px 40px 40px;
	border-radius: 10px;
	//background-color: rgba(0, 0, 0, 0.5);
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,0,159,1) 80%);
	border: 2px solid #fff;

	h2 {
		margin: 30px 0 20px;
	}

	.top {
		position: absolute;
		left: 0;
		top: 20px;
		padding: 0 40px;
		width: 100%;
		text-align: right;

		.links {
			position: absolute;
			top: 5px;
			z-index: 1;

			li {
				display: inline-block;
				margin-right: 10px;

				a {
					color: #fff;

					&:hover {
						color: $green;
					}
				}
			}
		}

		span {
			display: inline-block;
		}

		.redes {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-size: 0;

			li {
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;

				a {
					display: block;
					position: relative;
					color: #fff;
					width: 34px;
					height: 34px;
					border-radius: 50%;
					border: 2px solid #fff;
					font-size: 18px;
					text-shadow: none;
					transition: 200ms;

					i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						line-height: 0.7;

						&:before {
							margin: 0;
						} 
					}

					&:hover {
						color: #000;
						background-color: #fff;
					}
				}
			}
		}
	}

	.foto {
		display: inline-block;
		vertical-align: bottom;
		width: 90px;
		height: 110px;
		background-size: cover;
		background-position: center;
	}

	.infos {
		display: inline-block;
		vertical-align: bottom;

		h1 {
			margin: 0 0 2px;
		}

		._small {
			margin: 0 0 10px;
			font-size: 12px;
		}
	}

	span {
		display: block;
		position: relative;

		// &.bar {
		// 	&:after {
		// 		content: '';
		// 		position: absolute;
		// 		left: 0;
		// 		bottom: 1px;
		// 		width: 87%;
		// 		height: 2px;
		// 	}

		// 	&._hp {
		// 		&:after {
		// 			background-color: #e60000;
		// 		}
		// 	}

		// 	&._mp {
		// 		&:after {
		// 			background-color: #4040ff;
		// 		}
		// 	}
		// }
	}

	.atributos {
		.Row {
			.col {
				margin-bottom: 3px;
				padding: 3px;
				background-color: rgba(0, 0, 0, 0.3);
				cursor: pointer;

				img, span {
					display: inline-block;
					vertical-align: middle;
					color: $green;
					transition: 500ms;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.4);

					img {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	.parametros {
		width: 270px;

		ul {
			li {
				position: relative;
				margin-bottom: 10px;

				img {
					display: inline-block;
					vertical-align: middle;
					margin-right: 8px;
				}

				b {
					display: inline-block;
					vertical-align: middle;
				}

				span {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}

	.Button {
		margin: 30px 0 0;
	}
}

@include breakpoint(0, $md) {
	.Card {
		.top {
			.links {
				li {
					margin-right: 5px;
				}
			}
		}
	}
}

@include breakpoint(0, $sm) {
	.Card {
		margin: 60px 0 0;
		padding: 40px 20px;

		.top {
			position: relative;
			left: 0;
			top: 0;
			margin: 0 0 30px;
			padding: 0;
			text-align: left;

			.links {
				position: relative;
				margin: 0 0 20px;
				top: auto;

				li {
					display: block;
					margin: 0 0 10px;
				}
			}

			span {
				display: block;
				margin: 0 0 10px;
			}

			.redes {
				display: block;

				li {
					margin: 0 5px 0 0;
				}
			}
		}

		.parametros {
			width: 100%;
		}
	}
}

@include breakpoint(0, $xs) {
	.Card {
		padding: 40px 15px;

		.foto {
			width: 70px;
			height: 100px;
		}
	}
}