$green: #26cac9;

$font-family: 'Press Start 2P', cursive;
$font-size: 14px;

$text-color: #fff;
$heading-color: #fff;
$link-color: $green;

$button-color-primary: #fff;
$button-color-primary-text: #fff;
$button-font-size: 10px;